<div class="col-3">
    <div class="card">
        <div class="card-header">Dashboard</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to "Users", admin_users_path, class:"text-decoration-none"%></li>
            <li class="list-group-item"><%= link_to "Patients", admin_patients_path, class:"text-decoration-none"%></li>
        </ul>
    </div>
</div>